

.whitecircle{
    background-color: #F8F8F8;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid #00a3e0;
    border-right-color: #e9e6e6;
    border-bottom-color: #e9e6e6;
    transform: rotate(136deg);
    margin-left: 2rem;
}

.fullcircle{
    background-color: #F8F8F8;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid #00a3e0;
    margin-left: 2rem;
}



.bluebutton{
    background-color: #00a3e0;
    width: 8rem;
    color: white;
    height: 2rem;
    margin-bottom: 2rem;
    border-radius:5%;
    font-weight: 700;

}

.whitebutton{
    background-color: white;
    border: 2px solid #00a3e0;
    border-radius:5%;
    border-style: solid;
    width: 8rem;
    height: 2rem;
    color:#00a3e0;
    margin-right: 1rem;
    font-weight: 700;
}